@charset "UTF-8"



@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&family=PT+Sans&family=Russo+One&family=Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&family=PT+Sans&family=Press+Start+2P&family=Source+Serif+Pro&display=swap');

@media (max-width: 1222px/*1222px*/) {
    section#sobre> p {
        display: inline-block;
        width: 100%;
        padding: center;

        text-align: center;
        padding-top: 10vh;
        line-height: 2em;
        font-size: 1.5em;
        
    }
    .footer1{
        font-size: 0.8em;

    }

    
    .bloco > .inicio-imagem {
        margin-top: 15%;
        height: 350px;
    } 

    .container {
        display: flex;
        flex-direction: column;
    }
    

} 



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #5E3FA6;  
    /*background: linear-gradient(68.15deg, #5E3FA6 16.62%, #B08FFF 85.61%); */
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #5E3FA6;  
}

li {
    list-style: none;
}
.nav-link {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.navbar {
    
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 2px solid #00000083;

}

.nav-menu {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-menu a::after {
    content: "";
    display: block;
    border-bottom: 2px solid #bd9fc9;
    margin-top: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-menu a:hover::after {
    transform: scaleX(1);

}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #5E3FA6;
        width: 100%;
        text-align: center ;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

}



/*
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0px;

    border-bottom: 2px solid #00000083;
    
}


.cabecalho-imagem {
    height: 72px;
    margin-left: -50px;
}

.cabecalho-menu {
    display: flex;
    gap: 45px;
} 

.cabecalho-menu a::after {
    content: "";
    display: block;
    border-bottom: 2px solid #bd9fc9;
    margin-top: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.cabecalho-menu a:hover::after {
    transform: scaleX(1);

}

.cabecalho-menu-item {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-weight: 400;
    font-size: 18px;
} */




.container {
    width: 60vw;
    display: flex;

    justify-content: space-between; 
    align-items: center;    
}




#inicio {
    border-top: 0.4px solid rgb(34, 0, 43);
    background-color: white;
}

.inicio-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 870px;
    font-family: 'Russo One', sans-serif;

}



.inicio-principal-escrito1{
    font-size: 25px;    
    font-family: 'Russo One', sans-serif;
    padding-bottom: 18px;

}



/* .inicio-principal-escrito-titulo {
    display: flex;
    font-size: 50px;
    padding-bottom: 18px;
} */
.principal {
    font-size: 37px;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 18px;
}

h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.6s infinite alternate;
}


@keyframes pisca {
    0% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      60% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }



}


.inicio-principal-escrito-subtitulo {
    font-size: 25px;
    padding-bottom: 25px;
}


.btn {
    font-size: 25px;
    color: white;
    background-color: #5E3FA6;
    width: 312px; /* antes era 180px */
    height: 60px;
    border: none;
    border-radius: 29px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}



.btn:hover {
    background-color: #9D9AAF;
    color: black;
    
}

.inicio-imagem {
    border-radius: 100%;
    /* height: 420px; */
    
    
}
/* .inicio-imagem {
    border-radius: 100%;
    height: 430px;
} */

#sobre {
    display: flex;
    flex-direction: column;
    padding: 100px;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    background-color: #5E3FA6;
}

.sobre-titulo {
    color: white;
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    margin-top: 50px;
}

.sobre-conteudo {
    color: #cfbef5;
    display: inline-block;
    width: 35%;
    margin: auto;
    align-items: center;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    line-height: 2em;
}
 
#projetos {
    display: flex;
    
    flex-direction: column;
    padding: 100px;
    text-align: center;
    margin-top: 100px;

    justify-content: center;

}

.projeto {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: -200px;
    height: 500px;  
    font-family: 'Russo One', sans-serif;
    
}


.projetos-titulo {
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    font-family: 'Russo One', sans-serif;

} 

.projeto-img {
    border-bottom: 5px solid #5E3FA6;
    width: 100%;
    transition: 0.5s;


  }
  
  .projeto-img:hover {
    transform: scale(110%);
    border-bottom: 5px solid #9D9AAF;
  }
  
.projetos-github {
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px
}

.projetos-github:hover{
    color: black;
}

#footer {
    text-align: center;
    color: white;
}
.footer1 {
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer1 a {
    color: white;
}

.footer1 a:hover {
    color: #9D9AAF;
}